.storybook-breadcrumb {
  ol {
    display: inline-flex;

    li:not(:last-child) {
      &::after {
        content: '|';
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }

    a[aria-current='page'] {
      font-weight: bold;
    }
  }
}
